name: Run benchmark

on:
  workflow_dispatch:

jobs:
  do:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'zulu'
      - name: Benchmark with maven
        run: mvn jmh:benchmark
